
@font-face {
  font-family: 'ThaiSansNeue-Regular';
  src: url('ThaiSansNeue-Regular.eot?#iefix') format('embedded-opentype'),  url('ThaiSansNeue-Regular.woff') format('woff'), url('ThaiSansNeue-Regular.ttf')  format('truetype'), url('ThaiSansNeue-Regular.svg#ThaiSansNeue-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
